:root {
  --primary-color: #dff6ff;
  --secondary-color: #47b5ff;
  --primary-accent-color: #1363df;
  --secondary-accent-color: #06283d;
  --box-shadow: 2px 5px 8px rgb(0, 0, 0, 0.1);
  --transition: 200ms ease-in-out;
  --radius: 5px;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  text-align: center;
}

.navbar {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.nav-link,
.navbar-brand {
  color: var(--secondary-accent-color) !important;
}

.nav-link:hover {
  color: var(--primary-accent-color) !important;
  transition-duration: var(--transition);
}
.navbar-brand:hover {
  color: var(--primary-accent-color) !important;
  transition-duration: var(--transition);
}
.active {
  font-weight: 600;
}
.dropdown-menu {
  background-color: var(--primary-color);
}
.dropdown-item {
  color: var(--secondary-accent-color);
}
.dropdown-item:hover {
  background-color: var(--secondary-color);
  color: #fff;
  transition-duration: var(--transition);
}
.navbar-toggler {
  color: var(--secondary-color) !important;
}
.webpage {
  margin-top: 95px;
}
.link {
  color: var(--primary-accent-color);
}
.link:hover {
  color: var(--secondary-accent-color);
  transition-duration: var(--transition);
}
.text-box {
  background-color: var(--primary-color);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  color: var(--secondary-accent-color);
}
img {
  border-radius: var(--radius);
}
.intro {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 60%;
  padding: 20px;
}

.site-button {
  background-color: var(--primary-color);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  font-size: 16pt;
  margin: 20px;
  padding: 15px;
  width: 160px;
}

.site-button:hover {
  background-color: var(--primary-accent-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition-duration: var(--transition);
}

.project-button {
  background-color: var(--primary-accent-color);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-size: 16pt;
  margin: 20px;
  padding: 15px;
  max-width: 300px;
}

.project-button:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-accent-color);
  color: var(--secondary-accent-color);
  cursor: pointer;
  transition-duration: var(--transition);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25%;
  margin-right: 25%;
}

.project-image-box {
  background: var(--secondary-color);
  border-radius: var(--radius);
  padding: 30px;
  position: relative;
}
.project-image {
  border-radius: var(--radius);
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.project {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

.project-text {
  margin: 5px;
  margin-top: 30px;
  max-height: fit-content;
  padding: 20px;
  flex: 1;
}

.project-text-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#open-source {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: fit-content;
}

#profile-photo-box {
  display: block;
  margin: 0 auto;
  max-width: 40%;
  min-width: fit-content;
  padding: 10px;
}

#profile-photo {
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 25px;
}

.bio {
  display: flex;
  justify-content: space-evenly;
}

.about-me {
  margin: 5px;
  margin-top: 30px;
  padding: 20px;
  flex: 1;
}

#contact {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  max-width: fit-content;
  padding: 20px;
}

@media (max-width: 576px) {
  #open-source,
  #contact,
  .intro {
    max-width: 95%;
  }
}

@media (min-width: 576px) {
  #profile-photo-box {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .project {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (min-width: 1400px) {
  .about-me {
    margin-left: 200px;
    margin-right: 200px;
  }
}
